.titlefont{
	border-bottom: 2px solid #3b3b3b;
	margin-bottom:30px;
	padding-bottom:10px;
	font-size: 30px;
}
#wap{
	margin: 5px 0 0 0;
}
#id, #pw1, #pw2{
	margin: 0 0 0 0;
}
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box}

#message, #pass1, #pass2{
	margin: 0 0 0 8px;
}

.nice-select{
 display:none !important;
} 

#email{
	margin: 0px 2px 0px 0px;
	background-color:white !import
}
#email_message{
	margin: 0 0 15px 10px;
}
#tel_message{
	margin: 0 0 15px 10px;
}
#inputtel{
	margin: 0px 0 -20px 0;
}

#postcode{
    float: right;
    width:54px;
    height: 27px;
}
 
#idtext{
	float:left;
	width:20%;
	margin: 1px 8px -3px 15px;
	font-size:14px;
}
 #addtext, #imgtext{
	margin: -14px 0 -29px 15px;
	font-size:14px;
}
#teltext{
	margin: 5px 0 -7px 10px;
	font-size:14px;
} 

#mailtext{
	margin: -14px 0 0 19px;
	font-size:14px;
}
#nicktext {
	margin: -16px 0 0 19px;
	font-size:14px;
}
#imgtext{
	margin: -13px 0 0 19px;
	font-size:14px;
} 
.nickinput {
	margin: 0 0 20px 0;
	width: 100%;
	height: 40px;
	padding: 10px;
	font-size: 13px;
}


#post1{
	padding:3px;
	margin:0 10px 3px 390px;
	width: 20%;
	text-align: center;
}

.user_image_choice{
	margin: 0px 0 10px -26px;
}
#img_wap{
    margin :-10px 0px 0px 0px;	
}	



input{border-radius:3px;border:1px solid lightgray}
.tx, input[type=password] {
    width: 100%;
    padding: 10px;
    margin: 1px 0 22px 0;
    display: inline-block;
    font-size: 13px;
}

input[type=radio]{
	width: 5%;
    display: inline-block;
    border: none;
}

input[type=text]:focus, input[type=password]:focus {
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
    outline: none;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer; /* 손가락 커서 모양 */
    
    opacity: 0.9;
}

button:hover {
    opacity:1;
    
}
button:focus{
   outline:none;
}

/* 취소 버튼*/
.cancelbtn{
  float: left;
  width: 25%;
  color: white;
  font-size:15px;
  padding: 5px;
  background-color: #a5a1a1;
}

/* 등록 버튼 */
.submitbtn {
  float: right;
  width: 25%;
  color: white;
  background: #3fd0e2;
  font-size:15px;
  padding: 5px;
}

#joinform {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    width: 600px; /* Could be more or less, depending on screen size */
    padding: 16px;
	font-family: "DM Sans", sans-serif; 	  
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}
 
b + div{width: 100%;
    padding: 10px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    }

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table; 
}

h1{
	text-align:center;
}

b {
	display: block
}

span{
	display:inline-block;
	margin-top:-20px;
	font-size:10px
	
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
       width: 100%;
    }
}