@charset "UTF-8";

.loginfont{
	text-align:center;
}
 .input_wrp{
   font-family: Arial, Helvetica, sans-serif;
   display: block;
   margin-right: 0px;
   border-right:0;
   color: #555;
   margin-top: 30px;
   margin-bottom: 15px;
   font-size: 14px;
   
 } 
 
.stitle {
	border-radius:3px 0 0 3px;
	border:1px solid lightgray;
	display: inline-block;
	background: #555;
	width:10%;
	height:50px;
	padding:15px;
	text-align:center;
	float:left;
	color: lightgray;
}
 
#findtext{
	font-size: 15px;
	float : right;
	margin: -13px 6px 0 0;
}




input{border:1px solid lightgray}
input[type=text], input[type=password] {
    width: 90%;
    height:50px;
    padding: 10px;
    margin: 0px 0 8px 0;
    border-radius: 0 3px 15px -1;
    display: inline-block;
}


input[type=text]:focus, input[type=password]:focus {
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
    outline: none;
}

button {
    background-color: white;
    color: #555;
    padding: 14px 20px;
    margin: 8px 0;
    border: 1px solid #c1c1c1;
    cursor: pointer; /* 손가락 커서 모양 */
    width: 100%;
    opacity: 0.9;
}
button:nth-child(1){border-radius:3px 0 0 3px}
button:nth-child(2){border-radius:0 3px 3px 0px}
button[type=submit]:nth-child(2){ width: 20% !important;
				height:88% !important}
button:hover {
    opacity:1;
    background:#9ca29d;
    color:white;
    
}
button:focus{
   outline:none;
}

/* 취소 버튼*/
.join_wrap{
    padding: -2px 15px;
    color: #555;
    border: -1px solid #c1c1d1;
    height:45px;
    float: left;
    font-size: 14px;
    margin: 0 0 10px -1px;
    width: 50%;
}
.join_wrap:hover{
	opacity:1;
}

.submitbtn_wrap  {
  height:45px;
  float: right;
  font-size: 14px;
  width: 50%;
  margin: 0px 1px 13px 0;
}
#login_yoji{
	float: left;
	margin: 0 0 0 0;
}

#naver_login_logo {
    width: 20%;
    float: left;
}    
    
a{color:white;text-decoration:none;}

#loginform {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    width: 600px; /* Could be more or less, depending on screen size */
    padding: 16px;
    font-family: "DM Sans", sans-serif;
}
.clearfix{
	margin-top: 50px;
}


hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

 h1{text-align:center}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table; 
}
span{vertical-align: top}

@media screen and (max-width: 300px) {
    .join, .signupbtn {
       width: 100%;
    }
}