/* Not complete, plus bearing in mind I don't code for a living and had to host all assets on my dropbox :D   */

@import url(https://fonts.googleapis.com/css?family=Fjalla+One);
@import url(https://fonts.googleapis.com/css?family=News+Cycle);

/* Reset ----------------------- */

html, body, div, span, h1, h2, h3, h4, h5, h6, p, ol, ul, li, form, label, legend, caption, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { 
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

ol, ul {
	list-style: none;
}

a img {
	border: none
}

a,a:hover  {
	text-decoration: none;
}

aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block
}


/* Styling  ----------------------- */

body {
  background-color: #f5f5f5;
}

#container {
  background:#FFF;
  margin:10% auto;
  display:block;
  max-width:1045px;
  height:695px;
  width:100%;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -o-border-radius: 15px;
  -webkit-box-shadow:0px 5px 80px #d8d8d8;
  -moz-box-shadow:0px 5px 80px #d8d8d8;
  -o-box-shadow:0px 5px 80px #d8d8d8;
  box-shadow:0px 5px 80px #d8d8d8;
}

#product-img{
  float:left;
  text-align:center;
  width:45%;
  height:96%;
 /*  padding:4% 0; */
 margin-top:2%;
 margin-bottom:1.5%;
  background: #242424;
  border-radius: 15px;

  position:relative;
}

#product-info{
  padding:3%;
  width:50%;
  float:left;
  height:85%;
  margin-left: 20px;
}

h1,h2,h3,h4{
  font-family: 'Fjalla One', Helvetica, Arial sans-serif;
  font-weight:normal;
  text-transform:uppercase;
}

h1{
  font-size:41px;
  line-height:41px;
  margin-bottom:15px;
  color:#444;
}
h2{
  font-size:17px;
  line-height:17px;
  margin-bottom:15px;
  color:#bbb;
}

h3{
  display:inline-block;
  font-size:21px; 
  line-height:21px;
  margin-right:10px;
  color:#444;
}

h3::before{
  content: "$";
}

.sale{
  color:#fe6067;
}

.rrp{
  text-decoration:line-through;
}

h4{
  color:#444;
  font-size:17px;
  margin-bottom:15px;
}

p{
  font-family: 'News Cycle', Helvetica, Arial sans-serif;
  font-size:16px;
  color:#b1b1b1;
  line-height:27px;
  font-weight:normal;
  letter-spacing:1px;
  margin:0 0 60px 0;
}

#product-img img.shoe{
  position:relative;
	margin:1%;
  display:block;
  height: 400px;
  width : 98%;
  border-radius: 15px;
} 

.shoe{
  width:100%;
  margin-top:100px;
}
.shoe1{
	width: 95%;
	height: 363px;
	/* margin-top: 4px;
	margin-left: 2.5%; */
	margin: 2.5%;
}

.nike-logo{
  width:20%;
  display:block;
  position:absolute;
  top:30px;
  left:40%;
}

#product-spec{
  width:100%;
  margin-bottom:30px;
}

#ratings{
  width:25%;
  text-align:right;
}
.wrapper{
  float:left;
  display:block;
}
.clearfix{
  clear:both;
}

/* .clearfix-auto{
  overflow: auto;
} */


#pagination{
  position:absolute;
  top:600px;
  display:block;
  width:100%;
  text-align:center;
}

#pagination li{
  display:inline-block;
  background:#349a98;
  width:13px;
  height:13px;
  margin:3px;
  border-radius:50%;
}

#pagination li.selected{
  background:#fff;
}

.button{
  font-size:23px; 
  line-height:70px;
  height:70px;
  letter-spacing:1px;
  padding:5px 32px;
  color:#fff;
  font-family: 'Fjalla One', Helvetica, Arial sans-serif;
  font-weight:normal;
  text-transform:uppercase;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ff876a), to(#ff4064));
  background: -webkit-linear-gradient(top, #ff876a, #ff4064);
  background: -moz-linear-gradient(top, #ff876a, #ff4064);
  background: -ms-linear-gradient(top, #ff876a, #ff4064);
  background: -o-linear-gradient(top, #ff876a, #ff4064);
  border-radius: 10px;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  -o-border-radius:10px;
  -webkit-box-shadow:5px 5px 30px #ed949e;
  -moz-box-shadow:5px 5px 30px #ed949e;
  -o-box-shadow:5px 5px 30px #ed949e;
  box-shadow:5px 5px 30px #ed949e;
  display:inline-block;
}

.button:hover{
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ff876a), to(#db3652));
  background: -webkit-linear-gradient(top, #ff876a, #db3652);
  background: -moz-linear-gradient(top, #ff876a, #db3652);
  background: -ms-linear-gradient(top, #ff876a, #db3652);
  background: -o-linear-gradient(top, #ff876a, #db3652);
}

.shopping-cart{
  margin-right:20px;
  width:32px;
  height:32px;
  vertical-align: middle;
}

#color{
  max-width:220px;
  width:90%;
  min-height:70px;
  border-right:2px solid #ededed;
}

#color ul li{
  list-style-type:none;
  display:inline-block;
}

#size{
  max-width: 60px;
  width: 84%;
  min-height: 70px;
  position: relative;
  padding:0 8%;
  border-right:2px solid #ededed;
}

#quantity{
  max-width:80px;
  width:84%;
  min-height:70px;
  position:relative;
  padding:0 8%;
}

#quantity select,
#size select{
  background:none;
  border: 0 !important;  
	-webkit-appearance: none;  
	-moz-appearance: none; 
	width: 100%; 
	text-indent: 0.01px; 
	text-overflow: ""; 
	padding: 0px;
  font-family: 'Fjalla One', Helvetica, Arial sans-serif;
  font-weight:normal;
  text-transform:uppercase;
  color:#bbbbbb;
  font-size:21px;
}

.wrapper span.arr:after {
  content: '\2304';
  color:#bbbbbb;
  position: absolute;
  top: 46%;
  font-size:30px;
  line-height:30px;
}

#quantity span.arr:after{
  left:44%;
}

#size span.arr:after{
  left:68%;
}

#product-options{
  margin:0 0 70px 0;
  display:block;
}

.share{
  width:33px;
  height:33px;
  float:right;
  padding:20px 0;
}

#ratings{
  float:right;
  padding:6px 0;
}

.review-rating{
  float:left;
   /*  display: inline-block;
    vertical-align: top; */
    width: 120px;
    height: 26px;
    background: url('https://www.dropbox.com/s/9i40vq8v0h2m5i6/stars_flat_less_space.png?raw=1') 0 -26px no-repeat;
}

.user-review{
   display: inline-block;
   vertical-align: top;
   height: 26px;
  background: url('https://www.dropbox.com/s/9i40vq8v0h2m5i6/stars_flat_less_space.png?raw=1') 0 4px no-repeat;
}

.ninety{
  width:90%;
  margin-right:10%;
}

/* Radio Buttons --------------------- */

/* label {
  width: 24px;
  margin-right:14px;
} */

input.radio:empty {
	margin-left: -9999px;
  display:none;
}

input.radio:empty ~ label {
	position: relative;
	float: left;
	line-height: 24px;
	text-indent: 3.25em;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

input.radio:empty ~ label:before {
	position: absolute;
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	content: '';
	width: 24px;
  height:24px;
	background: #cccccc;
	border-radius: 50px;
  border:4px solid #FFF;
}

/* toggle on */
input.radio:checked ~ label:before {
	content:'';
}

input#radio1 ~ label:before {
	background-color: #59e8c8;
  margin-left:2px;
}

#radio1:checked~ label:before {
	-webkit-box-shadow: 0px 0px 0px 1px #59e8c8;
  -moz-box-shadow: 0px 0px 0px 1px #59e8c8;
  box-shadow: 0px 0px 0px 1px #59e8c8;
}

input#radio2 ~ label:before {
	background-color: #ffee71;
}

#radio2:checked~ label:before {
	-webkit-box-shadow: 0px 0px 0px 1px #ffee71;
  -moz-box-shadow: 0px 0px 0px 1px #ffee71;
  box-shadow: 0px 0px 0px 1px #ffee71;
}

input#radio3 ~ label:before {
	background-color: #6654af;
}

#radio3:checked~ label:before {
	-webkit-box-shadow: 0px 0px 0px 1px #6654af;
  -moz-box-shadow: 0px 0px 0px 1px #6654af;
  box-shadow: 0px 0px 0px 1px #6654af;
}

input#radio4 ~ label:before {
	background-color: #343434;
}

#radio4:checked~ label:before {
	-webkit-box-shadow: 0px 0px 0px 1px #343434;
  -moz-box-shadow: 0px 0px 0px 1px #343434;
  box-shadow: 0px 0px 0px 1px #343434;
}

input#radio5 ~ label:before {
	background-color: #dfdfdf;
}

#radio5:checked~ label:before {
	-webkit-box-shadow: 0px 0px 0px 1px #dfdfdf;
  -moz-box-shadow: 0px 0px 0px 1px #dfdfdf;
  box-shadow: 0px 0px 0px 1px #dfdfdf;
}

/* Animations  ----------------------- */

@-webkit-keyframes fadeIn { from { opacity:0; top:-5% } to { opacity:1; top:0%; } }
@-moz-keyframes fadeIn { from { opacity:0; top:-5% } to { opacity:1; top:0%; } }
@keyframes fadeIn { from { opacity:0; top:-5% } to { opacity:1; top:0%;  } }

.fade-in {
  opacity:0;  
  -webkit-animation:fadeIn ease-in-out .1s;  
  -moz-animation:fadeIn ease-in-out .1s;
  -o-animation:fadeIn ease-in-out .1s;
  animation:fadeIn ease-in-out .1s;

  -webkit-animation-fill-mode:forwards; 
  -moz-animation-fill-mode:forwards;
  -o-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  -o-animation-duration:1s;
  animation-duration:1s; 
}

.fade-in.one {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -o-animation-delay: 1s;
  animation-delay: 1s;
}

.fade-in.two {
  -webkit-animation-delay: 1.3s;
  -moz-animation-delay:1.3s;
  -o-animation-delay:1.3s;
  animation-delay: 1.3s;
}

.fade-in.three {
  -webkit-animation-delay: 1.6s;
  -moz-animation-delay: 1.6s;
  -o-animation-delay: 1.6s;
  animation-delay: 1.6s;
}


/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
  height: 350px;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#description {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}

#infowindow-content .title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}

.pac-card {
  background-color: #fff;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  margin: 10px;
  padding: 0 0.5em;
  font: 400 18px Roboto, Arial, sans-serif;
  overflow: hidden;
  font-family: Roboto;
  padding: 0;
}

#pac-container {
  padding-bottom: 12px;
  margin-right: 12px;
}

.pac-controls {
  display: inline-block;
  padding: 5px 11px;
}

.pac-controls label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
/*   margin-left: -152px; */
  margin-bottom : 10px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 95%;
  height:30px;
  
}

#pac-input:focus {
  border-color: #4d90fe;
}

#title {
  color: #fff;
  background-color: #4d90fe;
  font-size: 25px;
  font-weight: 500;
  padding: 6px 12px;
}

#target {
  width: 345px;
}
/* 업로드 */
.dragAndDropDiv { border: 2px dashed #92AAB0; width: 650px; height: 100px; color: #92AAB0; text-align: center; vertical-align: middle; font-size:200%; display: table-cell; } .progressBar { width: 200px; height: 22px; border: 1px solid #ddd; border-radius: 5px; overflow: hidden; display:inline-block; margin:0px 10px 5px 5px; vertical-align:top; } .progressBar div { height: 100%; color: #fff; text-align: right; line-height: 22px; /* same as #progressBar height if we want text middle aligned */ width: 0; background-color: #0ba1b5; border-radius: 3px; } .statusbar{ border-top:1px solid #A9CCD1; min-height:25px; width:99%; padding:10px 10px 0px 10px; vertical-align:top; } .statusbar:nth-child(odd){ background:#EBEFF0; } .filename{ display:inline-block; vertical-align:top; width:250px; } .filesize{ display:inline-block; vertical-align:top; color:#30693D; width:100px; margin-left:10px; margin-right:5px; } .abort{ background-color:#A8352F; -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px;display:inline-block; color:#fff; font-family:arial;font-size:13px;font-weight:normal; padding:4px 15px; cursor:pointer; vertical-align:top }

#upfile{
	display: none;
} 
/* 별점 */
.star-input{ /* padding: 25px 15px; */ } .star-input>.input{ text-align: center; margin-top: 10px; } .star-input>.input, .star-input>.input>label:hover, .star-input>.input>input:focus+label, .star-input>.input>input:checked+label{display: inline-block;vertical-align:middle;background:url('../img/grade_img.png')no-repeat;} .star-input { width: 100%; text-align: center; } .score{font-size:18px; line-height:25px; color:#fc4c4e; font-weight:bold;text-align:center;} /* .star-input{display:inline-block; white-space:nowrap;width:225px;height:40px;padding:25px;line-height:30px;} */ .star-input>.input{display:inline-block;width:150px;background-size:150px;height:28px;white-space:nowrap;overflow:hidden;position: relative;} .star-input>.input>input{position:absolute;width:1px;height:1px;opacity:0;} star-input>.input.focus{outline:1px dotted #ddd;} .star-input>.input>label{width:30px;height:0;padding:28px 0 0 0;overflow: hidden;float:left;cursor: pointer;position: absolute;top: 0;left: 0;} .star-input>.input>label:hover, .star-input>.input>input:focus+label, .star-input>.input>input:checked+label{background-size: 150px;background-position: 0 bottom;} .star-input>.input>label:hover~label{background-image: none;} .star-input>.input>label[for="p1_2"]{width:15px;z-index:10;} .star-input>.input>label[for="p1"]{width:30px;z-index:9;} .star-input>.input>label[for="p2_2"]{width:45px;z-index:8;} .star-input>.input>label[for="p2"]{width:60px;z-index:7;} .star-input>.input>label[for="p3_2"]{width:75px;z-index:6;} .star-input>.input>label[for="p3"]{width:90px;z-index:5;} .star-input>.input>label[for="p4_2"]{width:105px;z-index:4;} .star-input>.input>label[for="p4"]{width:120px;z-index:3;} .star-input>.input>label[for="p5_2"]{width:135px;z-index:2;} .star-input>.input>label[for="p5"]{width:150px;z-index:1;} .star-input>output{display:inline-block;width:60px; font-size:18px;text-align:right; vertical-align:middle;}

/* input */
input.underline{
	border-left-width: 0;
	border-right-width: 0;
	border-top-width: 0;
	border-bottom-width: 1;
	width: 100%;
	height: 30px; 
	font-size: 12pt;
	background-color: transparent;
	margin-bottom: 10px;
}


/* 프로그래스 바 */
#bar1, #bar2, #bar3{
		height: 5px;
		background: linear-gradient(to right,gray, black);
		width: 48%;
		margin : 10px 5px 10px 5px;
	}

	.choose_name{
	float:left;
	text-align:center;
	width: 20%;
	}
	input[name=taste]{
		display: none;
	}

#tastediv{
	margin-bottom: 35px;
}
input[type=radio] {
	display: none;
	
}
