.titlefont{
	border-bottom: 2px solid #3b3b3b;
	margin-bottom:30px;
	padding-bottom:10px;
	font-size: 30px;
}

body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box}

#emem{
	margin: 0 0 0 -132px;
}
 
.nice-select{
 display:none !important;
} 

#idcheck{
    padding: 3px 13px;
    border: 1px solid lightgrey;
    cursor: pointer; 
    width: 13%;
    float: right;
}
#email, #domain{
	margin: 5px 0 5px 0px;
}
	
#email_message{
	margin: 0 0 15px 10px;
}

#postcode{
    float: right;
    width:73px;
    height: 25px;
}
 
#idtext{
	float:left;
	width:20%;
	margin: 0 0 -15px 15px;
}
 #addtext{
	margin: -15px 0 -20px 15px;
}
#teltext, #imgtext{
	margin: -14px 0 -5px 16px;
	width: 83%;
}
#mailtext{
	margin: -16px 0 0 15px;
}
#nicktext {
	margin: -16px 0 0 15px;
}
.nickinput {
	margin: 0 0 20px 0;
	width: 100%;
	height: 40px;
	padding: 10px;
	font-size: 13px;
}
#add_wap{
	margin: -10px 0 5px 0;
}

#post1{
	padding:3px;
	margin:0 1px 0 367px;
	width: 21%;
}

.user_image_choice{
	margin: 17px 0 10px -13px;
}
#tel_wap{
	margin: 0 0 7px 0;
}
#img_wap{
	margin: 20px 0 7px 0;
}


input{border-radius:3px;border:1px solid lightgray}
.tx, input[type=password] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 22px 0;
    display: inline-block;
    font-size: 13px;
}
#tel_1, #tel_2, #tel_3{
	margin: 0 0 0 0;
}

input[type=radio]{
	width: 5%;
    display: inline-block;
    border: none;
}

input[type=text]:focus, input[type=password]:focus {
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
    outline: none;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer; /* 손가락 커서 모양 */
    
    opacity: 0.9;
}

button:hover {
    opacity:1;
    
}
button:focus{
   outline:none;
}

/* 취소 버튼*/
.cancelbtn{
  float: left;
  width: 25%;
  color: white;
  font-size:15px;
  padding: 5px;
  background-color: #a5a1a1;
}

/* 등록 버튼 */
.submitbtn {
  float: right;
  width: 25%;
  color: white;
  background: #3fd0e2;
  font-size:15px;
  padding: 5px;
}

#update {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid lightgray;
    width: 600px; /* Could be more or less, depending on screen size */
    padding: 16px;
	font-family: "DM Sans", sans-serif; 	  
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}
 
b + div{width: 100%;
    padding: 10px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table; 
}

h1{
	text-align:center;
}

b {
	width: 70%;
	display: block
}

span{display:inline-block;margin-top:-20px;font-size:10px}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
       width: 100%;
    }
    
input{
	font-size: 15px;
}    
}